/* .container {
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07) !important;
} */

.img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: upDown 2s linear alternate-reverse infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.btnOne {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    z-index: 99;
}

.btnTwo {
    background-color: #f5f5f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99;
}

.btnThree {
    background-color: #f5f5f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99;
}

.line {
    position: absolute;
    width: 300px;
    height: 2px;
    margin: 15px 5px;
    background-color: #000;
}