.container {
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07) !important;
}

input,
textarea,
select,
.btn {
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #ffc107 !important;
}

.btnOne {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.btnTwo {
    background-color: #f5f5f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.line {
    position: absolute;
    width: 48px;
    height: 2px;
    margin: 15px 5px;
    background-color: #000;
}