.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 4px;
    padding: 12px;
    color: #ffc107;
}

.col{
    cursor: pointer;
    width: 10%;
    height: 100%;
    border-radius: 12px;
    margin: 2px 4px;
    text-align: center;
    font-weight: bold;
    background-color: #dfdbdb
}


.para1{
    width: 100%;
    padding: 2px 24px;
    text-align: start;
}
